.projects {
    width: 100%;
    text-align: center;
    text-decoration: none;
    background-color: white;
    margin-top: -10px;
    padding-bottom: 10%;
}

.white {
    margin-top: 5%;
    position: relative;
    width: 100%;
    object-fit: cover;
    
}

.projects > h1 {
    font-size: 50px;
}

.project > h3 {
    color: black;
}

.project > p {
    color: black;
}

.imgproject {
    width: 300px;
}

.project {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    margin: 0 20px;
}

.projectslist {
    margin: 30px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media (max-width: 500px){
    .projectslist {
        flex-direction: column;
    }

    .project {
        margin: 20px 0;
    }
}

@media screen and (min-width: 500px) and (max-width: 600px){

    .projectslist {
        flex-direction: column;
    }

    .project {
        margin: 20px 0;
    }
}



@media screen and (min-width: 2200px) and (max-width: 2400px){

    .imgproject {
        width: 600px;
    }
}

@media screen and (min-width: 2400px) {

    .imgproject {
        width: 600px;
    }
}