.skills {
    width: 100%;
    background-color: #EA7807;
    margin-top: -10px;    
}


.orange {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    object-fit: cover;
    margin-top: -70px;
    
}

.introductionskills {
    width: 50%;
    text-align: justify;
    margin: 30px 0 0 0;
}

.skillslist {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.skill {
    width: 150px;
    margin: 0 50px;
    color: rgb(39, 39, 39);
    font-size: 18px;
}

.con {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.skills > .con > h1 {
    font-size: 50px;
    color:white;
}

@media (max-width: 800px){
    .skillslist {
        flex-direction: column;
    }
    .skill {
        margin: 10px 0;
    }
    .skills > .con > h1 {
        font-size: 40px;
        padding-top: 20px;
    }
    .introductionskills {
        width: 80%;
    }
}