.skills {
    padding: 0;
    width: 100%;
    height: auto;
    background-color: #EA7807;
    margin: 0;
}


.orange {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    object-fit: cover;
    
}

.con {
    text-align: center;
}

.skills > .con > h1 {
    font-size: 50px;
    color:white;
}